<suite name ="Selenium Assignment">

    <test name="Sanity Test">
        <listeners>
            <listener class-name="com.qa.ExtentReportListener.ExtentReporterNG"></listener>
        </listeners>
        <classes>
            <class name="com.qa.test.amazon.AmazonTest"></class>
            <class name="com.qa.test.cleartrip.ClearTripTest"></class>
        </classes>
    </test>
</suite>